@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*Configurações gerais*/
*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a, h1, h2, h3, h4, p{
    font-family: 'Open Sans', sans-serif;
}
/*Fim configurações gerais*/


/*Definição de cores*/
:root{
    --cinza: #373636;
    --verde: #11AA58;
    --azul: #3CBACE;
    --roxo: #94399E;
    --rosa: #EF5BA1;
    --vermelho: #ED312F;
    --laranja: #F68934;
    --amarelo: #F5C10D;
    --preto: #000000;
    --branco: #FFFFFF;
    --roxo_banner:#5a155a;
    --botão_hover: #f9acd0;
    --cinza_sombra: #E6E6E6;
}
/*Fim definição de cores*/


/*COMEÇO WEB - PERFIL USUÁRIO EDITAR PERFIL*/
.usuario-editar-perfil-main {
    margin-top: 10px;
}


.usuario-editar-perfil-pai{
    align-items: center;
    /* background: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    margin: auto;
    width: 60vw;
}


.usuario-editar-perfil-dados{
    /* background: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    margin-bottom: 0.80em;
    width: 40vw;
}

.usuario-editar-perfil-nome{
    align-items: center;
    /* background: lightgreen; */
    border: 1px solid var(--cinza_sombra);
    box-shadow: 2px 2px 15px var(--cinza_sombra);
    display: flex;
    height: 5.20vh;
    justify-content: space-between;
    padding: 0 0.50em;
}

.usuario-editar-perfil-email{
    align-items: center;
    /* background: lightgreen; */
    border: 1px solid var(--cinza_sombra);
    box-shadow: 2px 2px 15px var(--cinza_sombra);
    display: flex;
    height: 5.20vh;
    justify-content: space-between;
    padding: 0 0.50em;
}

.usuario-editar-perfil-comunidade{
    align-items: center;
    /* background: lightgreen; */
    border: 1px solid var(--cinza_sombra);
    box-shadow: 2px 2px 15px var(--cinza_sombra);
    display: flex;
    height: 5.20vh;
    justify-content: space-between;
    padding: 0 0.50em;
}

.usuario-editar-perfil-senha{
    align-items: center;
    /* background: lightgreen; */
    border: 1px solid var(--cinza_sombra);
    box-shadow: 2px 2px 15px var(--cinza_sombra);
    display: flex;
    height: 5.20vh;
    justify-content: space-between;
    padding: 0 0.50em;
}

.usuario-editar-perfil-nome p{
    padding-top: 1em;
}

.usuario-editar-perfil-email p{
    padding-top: 1em;
}

.usuario-editar-perfil-comunidade p{
    padding-top: 1em;
}

.usuario-editar-perfil-senha p{
    padding-top: 1em;
}

.usuario-editar-perfil-button{
    /* background: yellow; */
    display: flex;
    justify-content: space-between;
    width: 18.50vw;
}

.usuario-editar-perfil-botao-editar{
    background-color: var(--rosa);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0.60em 2.20em;
    margin-top: 2em;
    text-decoration: none;
}

.usuario-editar-perfil-botao-editar:hover{
    box-shadow: 1px 1px 5px #CCC;
    opacity: 0.7;
    transition: 0.6s;
}

.usuario-editar-perfil-botao-excluir{
    background-color: var(--rosa);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0.60em 2em;
    margin-top: 2em;
    text-decoration: none;
}

.usuario-editar-perfil-botao-excluir:hover{
    box-shadow: 1px 1px 5px #CCC;
    opacity: 0.7;
    transition: 0.6s;
}
/* FIM WEB - PERFIL USUÁRIO EDITAR PERFIL */





/* COMEÇO TABLET - PERFIL USUÁRIO EDITAR PERFIL*/
@media screen and (max-width: 768px){
    .usuario-editar-perfil-pai{
        /* background: lightblue; */
        width: 80vw;
    }
    
    .usuario-editar-perfil-dados{
        /* background: lightcoral; */
        width: 60vw;
    }
    
    .usuario-editar-perfil-button{
        /* background: yellow; */
        width: 36vw;
    }
    
    .usuario-editar-perfil-botao-editar:hover{
        box-shadow: 0px 0px 0px;
        opacity: 1;
        transition: 0s;
    }

    .usuario-editar-perfil-botao-excluir:hover{
        box-shadow: 0px 0px 0px;
        opacity: 1;
        transition: 0s;
    }
}
/* FIM TABLET - PERFIL USUÁRIO EDITAR PERFIL */



/* COMEÇO MOBILE - PERFIL USUÁRIO EDITAR PERFIL */
@media screen and (max-width: 375px){
    .usuario-editar-perfil-pai{
        /* background: lightblue; */
        width: 80vw;
    }
    
    .usuario-editar-perfil-dados{
        /* background: lightcoral; */
        width: 80vw;
    }
    
    .usuario-editar-perfil-button{
        /* background: yellow; */
        width: 73vw;
    }
    
    .usuario-editar-perfil-botao-editar:hover{
        box-shadow: 0px 0px 0px;
        opacity: 1;
        transition: 0s;
    }

    .usuario-editar-perfil-botao-excluir:hover{
        box-shadow: 0px 0px 0px;
        opacity: 1;
        transition: 0s;
    }
}
/* FIM MOBILE - PERFIL USUÁRIO EDITAR PERFIL */