@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*Configurações gerais*/
*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a, h1, h2, h3, h4, p{
    font-family: 'Open Sans', sans-serif;
}
/*Fim configurações gerais*/

/*Definição de cores*/
:root{
    --cinza: #808285;
    --verde: #11AA58;
    --azul: #3CBACE;
    --roxo: #94399E;
    --rosa: #EF5BA1;
    --vermelho: #ED312F;
    --laranja: #F68934;
    --amarelo: #F5C10D;
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza_sombra: #E6E6E6;
}
/*Fim definição de cores*/

.capa-TopoPerfil{
    background: url('../imagens/Banner-Perfil-Usuário.jpg') center center;
    background-size: 100% ;
    background-size: cover ;
    background-repeat: no-repeat;
    height: 20vh;
}

.fotoperfil-TopoPerfil {
    width: 60%;
}

.fotoperfil-TopoPerfil img{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin: 50px 50px 0 145px;
}

.menu-TopoPerfil {
    background: #11AA58;
    width: 60%;
}

.nome-TopoPerfil{
    margin-left: 5em;
    height: 5vh;
    width: 13vw;
    background: var(--rosa);
    position: relative; top: 112px; left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nome-TopoPerfil p{
    text-transform: uppercase;
    color: var(--branco);
    font-size: 1.2em;;
    text-align: center;
    font-family:'Open Sans';
    margin-top: 0.5em;
}

.fotoperfil-TopoPerfil img{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin: 50px 50px 0 145px;
    
}

.menu-TopoPerfil{
    background: var(--branco);
    width: 22vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--cinza_sombra) 1px solid;
    box-shadow: 2px 2px 15px var(--cinza_sombra);
    margin-left: 17.4em;
}

.menu-TopoPerfil a{
    text-decoration: none;
    font-family: 'Open Sans';
    color: var(--cinza);
    font-size: 1.2em;
}

.menu-TopoPerfil a:hover{
    color: var(--rosa)
}

@media screen and (max-width: 768px){
    .capa-TopoPerfil {
        width: 100vw;
        height: 15vh;
    }
    .nome-TopoPerfil {
        width: 30vw;
        height: 5.6vh;
        margin-left: unset;
        position: relative; top: 63.8px; left: 200px;
    }
    .menu-TopoPerfil {
        width: 45vw;
        margin-left: 200px;
        margin-top: 0px;
    }    

    .menu-TopoPerfil a {
        text-decoration: none;
        font-family: 'Open Sans';
        color: var(--cinza);
        font-size: 1.1em;
    }

    .fotoperfil-TopoPerfil img {
        width: 14vw;
        height: 15vh;
        margin: 11px 65px;
    
    }
}

@media screen and (max-width: 375px) {

    .capa-TopoPerfil{
        width: 110vw;
        height: 15vh;
    }

    .nome-TopoPerfil p {
        font-size: 1.1em;
    }

    .nome-TopoPerfil {
        width: 50vw;
        height: 5.4vh;
        margin-right: 5px;
        position: relative;
        top: 64px;
        left: 145px;
    }

    .fotoperfil_TopoPerfil img{
        width: 1vw;
        height: 1vh; 
        margin: 1px; 
    }

    .menu-TopoPerfil {
        height: 5em;
        width: 50vw;
        margin-left: 145px;
        /* display: flex; */
        flex-direction: column;
    }

    .fotoperfil-TopoPerfil img {
        width: 22vw;
        height: 12vh;
        margin: 25px 35px;
    }
    .menu-TopoPerfil a {
        text-decoration: none;
        font-family: 'Open Sans';
        color: var(--cinza);
        font-size: 1em;
    }
}